<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion</title>
    <link rel="stylesheet" href="../css/login_Style.css" >
</head>
<body>
    <form method="POST" action="../controller/controllerUtilisateur.php?action=login">
        <fieldset>
            <legend>.: Authentification :.</legend>
        </fieldset>
        <fieldset>
            <table>
                <tr>
                    <td><label>E-mail :</label></td>
                    <td>	<input type="email" name="email" required placeholder="Votre adresse mail">
                    </td>
                </tr>
                <tr>
                    <td><label for="pw">Mot de passe :</label></td>
                    <td><input type="password" id="pw" name="password" required placeholder="Mot de passe">
                    </td>
                </tr>
            </table>
    
                <button type="submit">Valider</button>
            
        </fieldset>
        
        
    </form>
    
</body>
</html>